name: Code quality check

on:
  pull_request:
    branches: [develop]
  workflow_dispatch:

jobs:
  analyze-and-test:
    name: Code quality check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        sdk: [3.8, stable]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}

      - name: Install dependencies
        run: dart pub get

      - name: Run analyzer
        run: dart analyze --fatal-infos

      - name: Activate test coverage package
        run: dart pub global activate coverage

      - name: Run tests with coverage
        run: dart pub global run coverage:test_with_coverage

      - name: Check for 100% coverage
        run: |
          sudo apt-get update && sudo apt-get install -y lcov
          lcov --summary coverage/lcov.info
          total=$(lcov --summary coverage/lcov.info | grep lines | awk '{print $2}' | sed 's/%//')
          echo "Total coverage: $total%"
          if (( $(echo "$total < 100.0" | bc -l) )); then
            echo "âŒ Test coverage is below 100%"
            exit 1
          fi

      - name: Activate the pana package for pub scoring
        run: dart pub global activate pana

      - name: Ensure max pub score
        # The 'All of the package dependencies are supported in the latest version'
        # is not always possible due to transitive dependencies)
        run: dart pub global run pana . --exit-code-threshold 10
